<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bem Vindo, {{nome_usuario}}</h1>

    <h2>Lista de Tecnologias</h2>
    <ul>
        {%for tech in tecnologias%}
            {%if tech == 'Flask'%}
                <li><strong>{{tech}} (Estamos Aprendendo)</strong></li>
            {%else%}
                <li>{{tech}}</li>
            {%endif%}
        {%endfor%}
    </ul>
</body>
</html>